.DeviceOri {
  text-align: center;
  width: 100vw;
  height: 100vh;
  background-image: linear-gradient(#b98888, #ff8b52);
  position: absolute;
}
.debug{
  position: absolute;
  margin: auto;
  width: 100vw;

}
